<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/piggy.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> Control Financiero
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Reportes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['resumen']">Caja Chica</a>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['contratos']">Contratos</a>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['materiales']">Materiales</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['ingreso']">Registrar Ingreso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['egreso']">Registrar Egreso</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gestion de Materiales
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['compra']">Agregar Compra de Material</a>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['material']">Nuevo Material</a>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['proposito']">Nuevo Destino</a>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['modulo']">Nuevo Modulo</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Contratos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['agregarcontrato']">Agregar Contrato</a>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['pagocontrato']">Agregar Pago de contrato</a>
                </div>
            </li>
        </ul>

    </div>
</nav>